@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@100&display=swap');


/* 
Navbar
*/
.icon-hover:hover {
    color: #ffc63d;
    transition: 0.5s;

}

.nav-height {
    height: 70px;
}

.remove-default {
    padding: 0px;
    margin: 0px;
}

.big-text {
    font-size: 60px;
}

.background-image {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), #000000d0), url(images/banner_bg.jpg); */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner_bg.jpg);
    background-size: cover;
    max-height: 907px;
    background-position-x: 50%;
    background-position-y: 50%;
}

.background-imagesmall {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner_bg.jpg);
    background-size: cover;
    max-height: 907px;
    background-position-x: 50%;
    background-position-y: 50%;
}

.tune-h1 {
    font-weight: 700;
    font-size: 60px;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
}

.set-lineheight {
    line-height: 25px;
}

.size-bannerimg {
    width: 141px;
}

.make-smallicon {
    width: 72px;
}

.btn-style {
    color: #111111;
    font-weight: bold;
    height: 62px;
    width: 213px;
    border: 2px solid #ffc63d;
    background: transparent;
}

.yellow-background {
    background-color: #ffc63d;
}

.btn-style:hover {
    /* opacity: 1; */
    color: #111111 !important;
    background-color: white;
    border: 2px solid white;
    transition: 0.5s;
}

/* Join now*/
.card-overlap {
    margin-top: -34px;
    border: 8px solid #ffc63d;
    width: 85px;
    padding: 7px;
}

.card-smallicon {
    width: 39px;
}

.card-height {
    height: 343px;
    margin-bottom: 50px;
}

/* work hard banner */
.workhard-background {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), #00000079), url(images/banner_2.jpg); */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner_2.jpg);
    background-size: cover;
    max-height: 907px;
    background-position-x: 50%;
    background-position-y: 50%;
}

.workhard-banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner_2.jpg);
    background-size: cover;
    max-height: 907px;
    background-position-x: 50%;
    background-position-y: 50%;
}

.bigbtn-style {
    color: #111111;
    font-weight: bold;
    height: 63px;
    width: 308px;
    border: none;
}

/* Inviting and inspiring */
.set-image-dimension {
    width: 414px;
    height: 449px;
    margin-top: -146px;
    padding-left: 24px;

}

.give-padding {
    padding-left: 150px;

}

/* Media Query for responsiveness */
/* media query */
@media (min-width: 0px) and (max-width: 576px) {
    .test-responsive {
        background-color: aquamarine;
    }

    .background-image {
        background-image: none;
    }

    #removepadding-small {
        padding: 0px !important;
    }

    .big-text {
        font-size: 28px;
    }

    .workhard-background {
        background-image: none;
    }

    .remove-icon-margin {
        margin-top: 7px !important
    }

    .card-height {
        margin-left: 26px !important;
        margin-right: 26px !important;
    }

    .removemargin-small {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    .give-padding {
        padding-left: 51px !important;
    }
    .set-image-dimension {
        margin-top: -54px !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .test-responsive {
        background-color: blue;
    }

    .background-image {
        background-image: none;
    }

    .workhard-background {
        background-image: none;
    }

    .big-text {
        font-size: 38px;
    }

    .removemargin-small {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .give-padding {
        padding-left: 46px !important;

    }
    .set-image-dimension {
        margin-top: 0px !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .test-responsive {
        background-color: red;
    }

    .background-image {
        background-image: none;
    }

    .workhard-background {
        background-image: none;
    }

    .big-text {
        font-size: 51px;
    }

    .removemargin-small {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .give-padding {
        padding-left: 46px !important;

    }
  
}

@media (min-width: 993px) and (max-width: 1200px) {
    .test-responsive {
        background-color: yellow;
    }

    .background-imagesmall {
        background-image: none;
    }

    .card-height {
        height: 375px;
    }
    .set-image-dimension {
        margin-top: -48px !important;
    }
}

@media (min-width: 993px) {

    .background-imagesmall {
        background-image: none;
    }

    .workhard-banner {
        background-image: none;
    }
}