@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@100&display=swap');


/* 
Navbar
*/
.icon-hover:hover {
    color: #ffc63d;
    transition: 0.5s;

}

.nav-height {
    height: 70px;
}

.remove-default {
    padding: 0px;
    margin: 0px;
}

.big-text {
    font-size: 60px;
}

.background-image {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), #000000d0), url(images/banner_bg.jpg); */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner_bg.jpg);
    background-size: cover;
    max-height: 907px;
    background-position-x: 50%;
    background-position-y: 50%;
}

.tune-h1 {
    font-weight: 700;
    font-size: 60px;
    text-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
    
}

.set-lineheight {
    line-height: 25px;
}

.size-bannerimg {
    width: 141px;
}

.make-smallicon {
    width: 72px;
}

.btn-style {
    color: #111111;
    font-weight: bold;
    height: 62px;
    width: 213px;
    border: 2px solid #ffc63d;
    background: transparent;
}

.yellow-background {
    background-color: #ffc63d;
}

.btn-style:hover {
    /* opacity: 1; */
    color: #111111 !important;
    background-color: white;
    border: 2px solid white;
    transition: 0.5s;
}

/* Join now*/
.card-overlap {
    margin-top: -34px;
    border: 8px solid #ffc63d;
    width: 85px;
    padding: 7px;
}

.card-smallicon {
    width: 39px;
}

.card-height {
    height: 343px;
    margin-bottom: 50px;
}

/* work hard banner */
.workhard-background {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), #00000079), url(images/banner_2.jpg); */
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner_2.jpg);
    background-size: cover;
    max-height: 907px;
    background-position-x: 50%;
    background-position-y: 50%;

}



.bigbtn-style {
    color: #111111;
    font-weight: bold;
    height: 63px;
    width: 308px;
    border: none;
}

/* Inviting and inspiring */
.set-image-dimension {
    width: 414px;
    height: 449px;
    margin-top: -146px;
    /* padding-left: 24px; */

}
/* .invitinfbg-small{
    background-image: url(images/workout_img1-s.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    
} */
.set-fullbg{
    background-image: url(images/workout_img1-s.jpg) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.give-padding {
    padding-left: 150px;

}

.button-hover {
    color: #111111;
    font-weight: bold;
    height: 62px;
    width: 213px;
    /* border: 2px solid #ffc63d; */
    /* background: transparent; */
    background-color: white;
    border: none;
}
#black_bg:hover{
    background-color: #111111;
    color: white !important;
}
.button-hover:hover {
    background-color: #111111 !important;
    color: white !important;
    transition: 0.5s;
}


/* 4 cards benefits */
.negative-margin {
    margin-top: -287px;
}

.settop-margin {
    margin-top: 300px;
}

/* 4 dis-aligned cards */
.setmin-height {
    min-height: 377px;
}

.setsome-margin {
    margin-top: 118px;
}

/* News letter */
.newsletter-margin {
    margin-top: -166px;
    background-color: white;
}

.newsletter-padding {
    padding-top: 244px !important;
}

.phone-hover:hover {
    color: #ffc63d !important;
}
.benefitmargin-small{
    margin-bottom: 17px !important;

}
/* Membership container */
.membership-background {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/banner_3.jpg);
    background-size: cover;
    /* filter: brightness(0.65); */
    /* background-position-x: 50%;
    background-position-y: 50%; */
    height: 524px;
    margin-top: 0;
    margin-bottom: 0;
    object-position: 50% 0%;
}
.membership-cards {
    height: 421px;
    /* width: 304px; */
    /* margin-bottom: 50px; */
    margin-top: 64px;
}
#black_border:hover{
    border: 2px solid black;
}
.workhard-margin {
    margin-top: 90px;
}

/* Media Query for responsiveness */
/* media query */
@media (min-width: 0px) and (max-width: 576px) {
    .test-responsive {
        background-color: aquamarine;
    }
    .invitinfbg-small{
        background-image: none;
    }


    #removepadding-small {
        padding: 0px !important;
    }

    .big-text {
        font-size: 28px;
    }

 
    .remove-icon-margin {
        margin-top: 7px !important
    }

    .card-height {
        margin-left: 26px !important;
        margin-right: 26px !important;
    }

    .removemargin-small {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .give-padding {
        padding-left: 51px !important;
    }
    .set-image-dimension {
        margin-top: -54px !important;
    }

    .setsome-margin {
        margin-top: 0px !important;
    }

    .width-adjust {
        width: 100% !important;
    }
    .membership-cards {
        margin-top: 0px !important;
    }
    .set-fullbg{
        background-image: none !important;
    }
    .small-bottom-margin{
        margin-bottom: 29px !important;
    }
    .button-width-small{
        width: 100%;
    }


}

@media (min-width: 576px) and (max-width: 768px) {
    .test-responsive {
        background-color: blue;
    }
    .big-text {
        font-size: 38px;
    }

    .removemargin-small {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .give-padding {
        padding-left: 46px !important;

    }

    .set-image-dimension {
        margin-top: 0px !important;
    }

    .setsome-margin {
        margin-top: 0px !important;
    }
    .membership-cards {
        margin-top: 0px !important;
    }
    /* .set-fullbg{
        background-image: none !important;
    } */
    .toggle-visibility{
        visibility: hidden !important;
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    .test-responsive {
        background-color: red;
    }
    .big-text {
        font-size: 51px;
    }
    .removemargin-small {
        padding-top: 0px !important;
        margin-top: 0px !important;
    }

    .give-padding {
        padding-left: 46px !important;

    }

    .width-adjust {
        width: 100% !important;
    }
    #removetop_margin{
        margin-top: 0px;
    }
    /* .set-fullbg{
        background-image: none !important;
    } */
    .toggle-visibility{
        visibility: hidden !important;
    }
    .position-md-device{
        width: 307px;
        height: 346px;
        margin-top: -146px;
        /* padding-left: 24px; */
    }
   
}


@media (min-width: 993px) and (max-width: 1200px) {
    .test-responsive {
        background-color: yellow;
    }
    .card-height {
        height: 375px;
    }

    .set-image-dimension {
        margin-top: -48px !important;
    }

    #remove_padding {
        padding-bottom: 0px !important;
        padding-top: 1rem !important;
    }
    .membership-cards{
        height: 385px !important;
        width: 303px !important;
    }
    /* .invitinfbg-small{
        background-image: none !important;
    } */
    .set-fullbg{
        background-image: none !important;
    }
  
    
}

@media (min-width: 993px) {
    /* .invitinfbg-small{
        background-image: none !important;
    } */
  
    .set-fullbg{
        background-image: none !important;
    }
    .clear-padding-lg{
        padding-left: 24px !important;
    }
}
@media (max-width: 994px){
    
}

